<?xml version="1.0" encoding="UTF-8" ?>

<suite name="jiekousuite">
    <test name="测试模块">
        <classes>
            <class name="test.extentdemo.TestMethodDemo">

                <method>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="logDemo"/>
                </method>
            </class>

        </classes>
    </test>

<!--  listeners 监听器 用哪个类去监听  -->
    <listeners>
<!--        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <listener class-name="test.extentdemo.ExtentTestNGIReporterListenerOld"/>


    </listeners>

</suite>